* {
    box-sizing: border-box;
}

.homewrapping {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainimage {
    display: block;
    max-width: 95vw;
    max-height: 120vh;
    margin: auto;
    left: 0;
    right: 0;
}
