* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(75, 100%, 70%);
    background-image: url("images/home/background.png");
    background-repeat: repeat;
}

.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

@media only screen and (max-width: 600px) {

    .background {
        position: absolute;
        width: 80vw;
        height: auto;
        top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        left: 0;
        right: 0;

        background-color: white;
        border-radius: 25px;
    }

    .invitation{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        padding-top: 5%;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 5%;
        text-align: center;

    }

    h1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0.25em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        text-align: center;

        font-size: 2.5em;
        font-family: sans-serif;
        font-weight: bold;
        color: hsl(330, 90%, 55%);
    }

    p{
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0.75em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;

        font-size: 1em;
        font-family: sans-serif;
        color: hsl(330, 90%, 5%);
        text-align: left;
    }

    b{
        color: hsl(330, 90%, 55%);
    }

    iframe{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        margin-bottom: 4%;
        left: 0;
        right: 0;
        width: 206px;
        height: 36px;
        text-align: center;
    }
}
